@font-face {
  font-family: 'IBMPlexSansKR-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff') format('woff');
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@500&display=swap');

body::-webkit-scrollbar {
  width: 5px;
  /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
  height: 30%;
  /* 스크롤바의 길이 */
  background: #d9d9d9;
  /* 스크롤바의 색상 */

  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background: white;
  /*스크롤바 뒷 배경 색상*/
}

.App {
  font-family: "IBMPlexSansKR-Regular";

  p {
    font-weight: normal;
  }

  .landing {
    margin-top: 15vh;
    justify-content: center;
    text-align: center;

    button {
      cursor: pointer;
      font-size: 20px;
      height: 60px;
      background-color: white;
      width: 300px;
      border-radius: 5px;
      border: 0.5px solid #D9D9D9;
      box-shadow: 0px 0px 1px 1px #efefef;

      &:hover {
        background-color: darken(white, 3%);
      }

      &:active {
        background-color: lighten(white, 2%);
      }
    }

    img {
      width: 50vw;
      height: 45vh;
      object-fit: scale-down;
    }
  }

  .welcome {}

  .qnaq {}

  .qnaa {
    width: 70vw;
    margin: auto;

    .header {
      display: flex;
      justify-content: space-between;

      .kodylogo {
        width: 100px;
        height: 100px;
        object-fit: scale-down;
        cursor: pointer;
      }

      button {
        width: 200px;
        height: 50px;
        margin-top: 30px;
        background-color: #565758;
        color: #ffffff;
        border-radius: 5px;
        border: 0;
        outline: 0;
        font-weight: 500;

        &:hover {
          background-color: #48494a;
        }

        &:active {
          box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.1);
          transform: translateY(1px);
        }
      }
    }

    .main {
      margin: auto;
      width: 60vw;

      .boxes {
        .answerbox {
          border: 1px solid #050505;
          height: 150px;
          margin-bottom: 50px;
          border-radius: 30px;

          b {
            margin-left: 20px;
            margin-right: 20px;
            font-size: 40px;
            font-family: 'Noto Sans SC', sans-serif;
          }

          .div {
            margin-right: 20px;
            margin-top: 10px;
            float: right;
            display: flex;
            align-items: center;

            .likeinput {
              display: flex;
              border: 1px solid #d9d9d9;
              font-size: 18px;
              width: 50vw;
              height: 50px;
              border-radius: 8px;
              align-items: center;
              box-shadow: 0px 0px 2px 2px #efefef;

              span {
                margin-left: 3vw;
              }
            }
          }
        }
      }
    }

    .labels {
      text-align: center;

      .bold {
        font-weight: bolder;
      }

      label {
        cursor: pointer;
        margin-right: 10px;
      }
    }
  }

  .detail {
    .main {
      .mentioned {
        background-color: lightgray;
        border-radius: 5px;
        cursor: pointer;
      }

      a {
        text-decoration: none;
        color: black;

        &:hover {
          color: darkblue;
          text-decoration: underline;
        }
      }
    }

    .toast {
      font-size: 20px;
      position: fixed;
      display: flex;
      bottom: 5vh;
      right: 10vw;
      background-color: beige;
      text-align: center;
      align-items: center;
      width: 200px;
      height: 100px;
      z-index: 1;
      animation: transformer 0.2s ease;

      @keyframes transformer {
        0% {
          bottom: -5vh;
        }
      }

      div {
        margin: auto;
      }
    }
  }
}