@font-face {
  font-family: 'IBMPlexSansKR-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.App {
  width: 70vw;
  margin: auto;
  font-family: "IBMPlexSansKR-Regular";

  p {
    font-weight: normal;
  }

  .detail {
    .main {
      .mentioned {
        background-color: lightgray;
        border-radius: 5px;
        cursor: pointer;
      }
    }

    .toast {
      font-size: 20px;
      position: fixed;
      display: flex;
      bottom: 5vh;
      right: 10vw;
      background-color: beige;
      text-align: center;
      align-items: center;
      width: 200px;
      height: 100px;
      z-index: 1;
      animation: transformer 0.2s ease;

      @keyframes transformer {
        0% {
          bottom: -5vh;
        }
      }
    }
  }
}